body {
  background-image: url("../images/Library.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: rgb(117, 85, 0);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
}

.navbar a:hover {
  color: #ffd369;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ffd369;
  display: none;
}

.login-card,
.signup-card,
.addbook-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  width: 350px;
  margin: 100px auto;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #5d3a21;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

button {
  width: 100%;
  background: #5d3a21;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #7a4a2a;
}

.signup-link {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #5d3a21;
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

#error-msg {
  color: red;
  margin-bottom: 10px;
  display: none;
  text-align: center;
}
