<<<<<<< HEAD


=======
>>>>>>> ef16c33 (Updated Home, Login, SignUp, UserView, AdminView, SearchBooks and style)
body {
  background-image: url("images/Library.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}

<<<<<<< HEAD


=======
>>>>>>> ef16c33 (Updated Home, Login, SignUp, UserView, AdminView, SearchBooks and style)
.navbar {
  background-color: rgb(117, 85, 0);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

<<<<<<< HEAD


=======
>>>>>>> ef16c33 (Updated Home, Login, SignUp, UserView, AdminView, SearchBooks and style)
.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
}

.navbar a:hover {
  color: #ffd369;
}

<<<<<<< HEAD

=======
>>>>>>> ef16c33 (Updated Home, Login, SignUp, UserView, AdminView, SearchBooks and style)
.search {
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
}

.search-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  font-size: 16px;
}
<<<<<<< HEAD
=======
.login-card,
.signup-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  width: 350px;
  margin: 100px auto;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #5d3a21;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #7a4a2a;
}
>>>>>>> ef16c33 (Updated Home, Login, SignUp, UserView, AdminView, SearchBooks and style)
