<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><h2>Admin Dashboard - Digital Library</h2></title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link rel="stylesheet" href="css/style.css" />
     
  </head>

  <body>
    <div class="nav\bar">
      <div>
        <a href="Home.html">Digital Library 📖</a>
        <a href="SearchBooks.html">Books</a>
      </div>

      <div class="user-info">
        <img id="userAvatar" src="images/avtar1.jpg" />
        <span id="usernameDisplay">Welcome Guest</span>
        <a href="#" id="logoutLink" style="display:none;">Logout</a>
      </div>
    </div>

    <div class="container">
      <h2>Admin Dashboard - Manage Books</h2>

      <table>
        <thead>
          <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>Category</th>
            <th>Description</th>
            <th>Control</th>
          </tr>
        </thead>
        <tbody id="booksTableBody"></tbody>
      </table>
    </div>

    <script src="js/adminview.js"></script>
  </body>
</html>
