<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Dashboard - Digital Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <link rel="stylesheet" href="css/style.css" />
  
  </head>

  <body>
    <div class="navbar">
      <div>
        <a href="Home.html">Digital Library 📖</a>
        <a href="SearchBooks.html">Books</a>
        <a href="Loginpage.html" id="loginLink">Login</a>
        <a href="SignUp.html" id="signupLink">Sign Up</a>
        <a href="#" id="logoutLink" style="display:none;">Logout</a>
      </div>

      <div class="user-info">
        <img id="userAvatar" src="images/default-avtar1.jpg" />
        <span id="usernameDisplay">Welcome Guest</span>
      </div>
    </div>

    <div class="container">
      <h2>User Dashboard - Available Books</h2>
      

      <table>
        <thead>
          <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody id="booksBody"></tbody>
      </table>
      <br>
      <div id="descBox"></div>
    </div>

    <script src="js/userview.js"></script>
  </body>
</html>